<div class="text-container">
  <span class="exercise-name">{{ exercise.name }}</span>
  <span class="target-muscle">{{ exercise.targetMuscle }}</span>
</div>

<ion-modal #modal [isOpen]="setsModal" (didDismiss)="toggleModal()">
  <ng-template>
    <ion-picker>
      <ion-picker-column
        [value]="this.exercise.sets?.toString()"
        (ionChange)="onChangeSets($event)"
      >
        @for (i of iterations; track i) {
        <ion-picker-column-option value="{{ i + 1 }}">{{
          i + 1
        }}</ion-picker-column-option>
        }
        <div slot="suffix">Sets</div>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>
<div class="button-container">
  <ion-button size="small" shape="round" (click)="toggleModal()">{{
    this.exercise.sets
  }}</ion-button>
  <ion-checkbox [checked]="checked" (ionChange)="onChangeChecked($event)" />
</div>
