<ion-header>
  <ion-toolbar>
    <ion-title>Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="input-container">
      <ion-input
        label="Title (optional)"
        label-placement="floating"
        fill="outline"
        [value]="workoutName"
        #name
      ></ion-input
      ><ion-textarea
        label="Description (optional)"
        label-placement="floating"
        fill="outline"
        [value]="workoutNotes"
        #notes
        [autoGrow]="true"
      ></ion-textarea>
    </div>
    <ion-button (click)="toggleExercises()" expand="block"
      >Edit workout</ion-button
    >
    @if(workout.length > 0){
    <div class="exercises">
      <ion-reorder-group
        [disabled]="false"
        (ionItemReorder)="handleReorder($any($event))"
      >
        @for(workoutExercise of workout; track workoutExercise.exerciseId){
        <app-exercise-logger [exerciseInfo]="workoutExercise" />}
      </ion-reorder-group>
    </div>
    <ion-button (click)="saveWorkout(name, notes)" expand="block"
      >Save workout</ion-button
    >
    }@else {
    <div class="empty-workout-container">
      <div class="empty-workout-inner">
        <span> A blank slate stands before you.</span>
        <span class="subtitle">Decide your next challenge to ascend.</span>
      </div>
    </div>
    }
  </div>

  <ion-modal
    #modal
    [presentingElement]="presentingElement"
    [isOpen]="exercisesOpen"
    (didDismiss)="this.exercisesOpen = false;"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Exercises</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="toggleExercises()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-searchbar
            [debounce]="100"
            (ionInput)="handleSearchInput($event)"
          ></ion-searchbar>
          @for(exercise of this.results; track exercise.id){
          <app-exercise-selector
            [exercise]="exercise"
            [sets]="getExerciseDetails(exercise.id)"
            (updateWorkout)="handleUpdate($event)"
          />
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
